body {
    background-color: #191a1c;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #444;
}

tr:nth-child(even) {
    background-color: #555;
}

tr:hover {
    background-color: #777;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.edit-btn:hover {
    background-color: #3e8e41;
}

.sidebar {
    background-image: linear-gradient(to right, #001529, #012f5a);
    width: 14.17em;
    flex-basis: 15%;
    overflow: auto;
    position: fixed;
    padding-top: 5em;
    top: 0em;
    left: 0em;
    bottom: 0em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 6;


}

.sidebar.show {
    transform: translateX(0%);
}

.sidebar-toggle {
    position: fixed;
    top: 1.5em;
    left: 0em;
    z-index: 7;
    transition: transform 0.33s ease-in-out;
    transform: translateX(13.5em);
}

.sidebar-toggle.hide {
    transform: translateX(0.5em);
}

.sidebar-toggle:focus {
    outline: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;

}

li.sellected {
    background-color: #0548E8
}

.sidebar li a:hover {
    background-color: #ddd;
}

.main-content {


    position: relative;

}

.container {
    display: flex;
    flex-wrap: wrap;

    overflow: auto;
}

.top-bar {
    width: 100%;
    height: 3.5em;
    padding: 8px 16px;
    text-align: center;
    position: fixed;
    left: 0em;
    right: 0em;
    top: 0px;
    z-index: 6;
    margin-top: 0;
    background-color: #001529;
}


/* background-image: linear-gradient(to right, #FFC107, #FF9800); */
#nextPreviosContainer,
#rightButton,
#leftButton {
    position: relative;
    display: inline;
}

#createCar,
#closeCreatCarForm {
    position: fixed;
    top: .5em;
    right: .35em;
    z-index: 8;
    background-color: #4CAF50;
    font-size: xx-large;
    border-radius: 8px;
    border-style: none;

}



#createCar:hover {
    background-color: #1b961f;

}

#createCar:active {
    background-color: #0c6b0f;

}

#closeCreatCarForm {
    background-color: #ff0000;
}

#closeCreatCarForm:hover {
    background-color: #aa0000;
}

#closeCreatCarForm:active {
    background-color: #770000;
}

#formContainer {
    width: 70%;
    padding: 1%;
    background-color: rgb(31, 30, 30);
    color: white;
    position: absolute;
    right: 0%;
    z-index: 3;
    pointer-events: auto;





    transition: transform 0.43s ease-in-out;
    transform: translateX(200%);

}

#formContainer.visible {
    transform: translateX(0%);
    /* move the div into view */
}

.outPage {
    opacity: 0;
    /* hide the div initially */
}

#formContainer.outPage {

    right: -100%;

}

.sidebar-toggle {
    position: fixed;
    width: 3em;
    height: 3em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.line:first-of-type {
    top: 50%;
    transform: translate(-50%, -500%)
}

.line:last-of-type {
    top: 50%;
    transform: translate(-50%, 500%)
}

.sidebar-toggle.active .line:first-of-type {
    transform: translate(-50%, -50%) rotate(45deg);
}

.sidebar-toggle.active .line:last-of-type {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar-toggle.active .line:nth-of-type(2) {
    transform: translate(-50%, -50%) scale(0);
}

.panel-wrapper {
    pointer-events: none;
    position: absolute;
    top: 2em;
    right: 0em;
    margin-right: 0px;
    width: 100%;
    height: 1700px;
    overflow: hidden;
    /* hide any overflow from the panel */
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slot {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 15px;
    -webkit-transition: .4s;
    transition: .2s;
}

.circle {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .2s;
}

input:checked+.circle {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    background-color: green;
}

.slot:has(input:checked) {
    background-color: aqua;
}

.formInput:has(.toggle) {
    position: relative;
    top: 3em;
    left: 3em;
}

#StatusToggleId {
    position: relative;
    top: -3.5em;
    left: -3em;
}



.editIcon {
    margin: 0px;
    position: relative;
    top: 0.1em;
    left: 0em;


}

.deleteButton {
    padding: 0px;
    align-content: center;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 0px;
}

.deleteButton:hover {
    background-color: rgb(202, 1, 1);

}

a {
    cursor: pointer;
}

#navigationButtonsContainer {
    width: 400px;
    position: absolute;
    left: 38%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#leftButton>p,
#rightButton>p {
    margin: 0px;
}

