div {
    padding: 0.35%;
    margin: 0.35%;
}


.carButtonDiv {
    width: inherit;
    background-color: yellow;
    color: #121212;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    cursor: zoom-in;
}

.carButtonDiv:hover {
    background-color: greenyellow;
}

#infoPannel {
    position: absolute;
    background-color: #121212;
    color: #fff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* for Safari */
    opacity: 0.8;
    /* set the opacity level */
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    width: 15em;
    height: fit-content;

}

#infoPannel.hidden {
    display: none;

}

#infoPannel.carsSellector {
    left: 4em;
    top: 4em;
    overflow: hidden;
    overflow-y: scroll;
    height: 28em;
}

#infoPannel.carsSellector::-webkit-scrollbar {
    display: none;
}

#mapid {
    z-index: 1;
    display: block;
    width: -webkit-fill-available;
    height: -webkit-fill-available;


}

#infoPannelClosser {
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
}


.formInput {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1%;
    margin: 1%;



}

form input,
form select {
    width: 90%;
    height: 1.75rem;
    left: auto;
    right: auto;
}



.visible {
    opacity: 1;
    /* show the div when visible class is added */
}

#sideBar {
    /* padding-top:6.5% ; */
    padding-top: calc();
    display: inline-block;
    width: 11%;
    height: 100%;
    vertical-align: top;
}

#main {
    display: inline-block;
    width: 85%;
    vertical-align: top;
}

/* #zipCodeText,
#distance,
#zipCodeButton {

} */
.sidBarButton {
    width: 100%;
    padding: 2%;
    margin: 2%;
}

#stopserching {
    bottom: 3em;
    padding: 8px;
    font-size: medium;
    position: absolute;
    right: 1em;
    z-index: 2;
    border-radius: 5px;
    border-style: none;
    background-color: #f00;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0.8;
}

#stopserching:hover {
    background-color: #e33;
}

#stopserching.hidden {
    display: none;
}

.spinnerContainer {
    position: relative;
    top: 0.6em;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: inline-flex;
    z-index: 9999;
}

.spinner {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 4px solid rgb(225, 0, 0);
    border-top-color: #fff;

    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    form {
        transform: rotate(0deg);
        border: 4px solid rgb(225, 0, 0);
        border-top-color: #fff;


    }

    to {
        transform: rotate(360deg);
        border: 4px solid rgb(225, 0, 0);
        border-top-color: #fff;

    }


}

#connection-message-container {
    pointer-events: fill;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: fit-content;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #121212;
    color: #fff;
    padding: 1em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0.8;
    animation: slidding 1s ease-in-out forwards;
    transform: translateY(-100%);


}

#connection-message-container.hidden {
    animation-name: slidding-reversed;
}

@keyframes slidding {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }


}

@keyframes slidding-reversed {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-1000%);
    }
}

#connection-message {
    display: inline;
}

#connection-message-positionner {
    pointer-events: none;
    position: fixed;
    top: 4em;
    left: 34em;
    height: 6em;
    width: 20em;
    overflow: hidden;
    z-index: 999;
    /* background-color: red; */
}

#search-container {
    background-color: #777;
    width: 25em;
    padding: 5px;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0.8;
    position: absolute;
    z-index: 2;
    left: 4em;
    top: 1.5em;
}

#search-container * {
    border-radius: 6px;
    border-style: none;
    height: 2em;
    margin: 3.4px;

}